@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<form method='post' asp-action="menu">

    Name:
    <br>
    <input type='text' name='name'>
    <br>

    Skin type:
    <br>
    <select name='skintype'>
        <option value='oily'>Oily</option>
        <option value='combination'>Combination</option>
        <option value='normal'>Normal</option>
        <option value='dry'>Dry</option>
    </select>
    <br>

    Manicure, Pedicure, or Both?
    <br>
    <select name='manipedi'>
        <option value='manicure'>Manicure</option>
        <option value='pedicure'>Pedicure</option>
        <option value='both'>Both</option>
    </select>
    <br>

    <table>
        <tr>
            <td>
                <div class='pinknail'>
                    <p class="nailtext">Hot Pink</p>
                </div>
            </td>
            <td>
                <div class='bluenail'>
                    <p class="nailtext">Sky Blue</p>
                </div>
            </td>
            <td>
                <div class='rednail'>
                    <p class="nailtext">Dark Red</p>
                </div>
            </td>
            <td>
                <div class='plumnail'>
                    <p class="nailtext">Plum</p>
                </div>
            </td>
            <td>
                <div class='sandynail'>
                    <p class="nailtext">Sandy Brown</p>
                </div>
            </td>
        </tr>
    </table> 

    <input type='submit' value='Submit'>

</form>